.advanced-solr {
  padding-top: 5em;
}

// Borrow some of the height styles from floating form widgets so that these
// buttons match
.bool-group .btn {
  height: $form-floating-height;
  line-height: $form-floating-line-height;

  padding: $form-floating-padding-y $form-floating-padding-x;
}
