table.document-list {
  width: 100%;
  margin-bottom: 0;

  td h5 {
    font-weight: bold;
  }
}

nav.filter-list {
  margin-bottom: 1em;

  .nav-link {
    padding: 0.2rem 1rem;

    input {
      margin-right: 0.2rem;
    }
  }

  ul {
    list-style-type: none;
    margin-bottom: 0;
  }

  .filter-header {
    display: block;

    border-bottom: 1px solid $gray-500;
    margin-top: 1em;

    font-weight: bold;
  }

  .badge {
    font-weight: 400;
  }
}

p.dropdown-wrap {
  max-width: 35em;
  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  margin-bottom: 0;
}

p.document-details {
  margin-bottom: 0;
  line-height: 1;
}

#back-to-top {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  z-index: 1000;

  display: none;
}
