- content_for :js_modules do
  = javascript_import_module_tag "search/advanced"
- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to t('breadcrumbs.root'), root_path
  - if user_signed_in? && current_user.workflow_active
    %li.breadcrumb-item
      = link_to t('breadcrumbs.workflow_start'), workflow_start_path
    %li.breadcrumb-item
      = link_to t('breadcrumbs.workflow_info'), workflow_info_path(current_user.workflow_class)
    %li.breadcrumb-item
      = link_to t('breadcrumbs.workflow_activate'), workflow_activate_path(current_user.workflow_class)
  %li.breadcrumb-item= link_to t('breadcrumbs.search_index'), search_path
  %li.breadcrumb-item.active= t('breadcrumbs.search_advanced')
.row.mb-3
  .col-6
    %h1= t('.header')
    %h4.text-muted= t_md('.subheader_markdown')
.row.mb-5
  .col-12
    = form_with url: search_path, method: 'get', html: { role: 'form' } do |form|
      = javascript_tag("window.rlRowMarkup = '#{j render(partial: 'advanced_row', locals: { form: form })}';", nonce: true)
      .row.mb-4#advanced-rows
        = render partial: 'advanced_row', locals: { form: form }
      .row.mb-3
        .col-lg-6
          .form-floating
            = form.select :boolean, options_for_select([[t('.boolean_and'), :and], [t('.boolean_or'), :or]]), { include_blank: false }, class: 'form-select'
            = form.label :boolean, t('.boolean_label'), class: 'form-label'
      .row
        .col
          = form.submit t('.search_button'), class: 'btn btn-primary'
.row.advanced-solr
  .col-12.col-lg-6
    %button.btn.btn-secondary.btn-sm{
      type: "button",
      data: { bs_toggle: "collapse", bs_target: "#solr-collapse" },
      aria: { expanded: "false", controls: "solr-collapse" }
    }
      = t('.solr_header')
    .collapse#solr-collapse
      .card.card-body
        = sciveyor_form_with url: search_path, method: 'get' do |form|
          = form.text_area :solr, input_options: { escape: false }, label: t('.solr_label'), label_options: { class: 'visually-hidden' }
          = form.submit t('.solr_button')
