- content_for :js_modules do
  = javascript_import_module_tag "search/index"
- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to t('breadcrumbs.root'), root_path
  - if user_signed_in? && current_user.workflow_active
    %l.breadcrumb-item
      = link_to t('breadcrumbs.workflow_start'), workflow_start_path
    %li.breadcrumb-item
      = link_to t('breadcrumbs.workflow_info'), workflow_info_path(current_user.workflow_class)
    %li.breadcrumb-item
      = link_to t('breadcrumbs.workflow_activate'), workflow_activate_path(current_user.workflow_class)
  %li.breadcrumb-item.active= t('breadcrumbs.search_index')
.row
  .col-7.col-lg-9
    = form_with url: search_path, method: :get, html: { role: 'form' } do |form|
      = form.hidden_field 'fields[]', value: 'dismax'
      - @search_params.facets&.each do |p|
        = form.hidden_field 'facets[]', value: p
      .mb-3
        %label.visually-hidden{for: "values[]"}= t('.placeholder')
        = form.search_field 'values[]', value: search_box_value, placeholder: t('.placeholder'), class: 'form-control'
      = form.submit t('.search_button'), class: 'visually-hidden'
  .col-5.col-lg-3
    .btn-group.d-flex{role: "group"}
      .btn-group.w-100{role: "group"}
        = link_to('#', class: 'btn btn-light w-100 dropdown-toggle', data: { bs_toggle: 'dropdown' }, role: 'button', aria: { haspopup: 'true', expanded: 'false' }) do
          %i.fas.fa-sort
          = t('.sort')
        .dropdown-menu
          - @result_presenter.sort_methods.each do |(param, desc)|
            - new_params = @search_params.dup
            - new_params.sort = param
            = link_to new_params.to_request, class: 'dropdown-item' do
              %span{class: (param == @search_params.sort ? nil : 'invisible')}
                \&check;
              = desc
      %a.btn.btn-light.w-100.d-lg-none.collapsed#filters-button{
        href: "#",
        role: "button",
        data: { bs_toggle: "collapse", bs_target: "#filters" }
      }
        %i.fas.fa-filter
        = t('.toggle_filters')
      = link_to user_signed_in? ? new_dataset_path(@search_params.to_dataset) : '#', class: "btn btn-success w-100 #{user_signed_in? ? 'ajax-modal' : 'disabled'}", id: 'new-dataset' do
        %i.fas.fa-save
        = t('.create_dataset')
.row
  .col-12.col-lg-3.order-lg-last
    %p.text-center= @result_presenter.num_hits_string
    .collapse.d-lg-block.mb-3#filters
      .card.bg-light.card-body
        - if @result.facets || Category.count
          %h4= t('.filter_header')
          %nav.nav.nav-pills.flex-column.filter-list
            - if @search_params.facets || @search_params.categories
              .filter-header= t('.active_filters')
              = facet_removal_links(@search_params, @result.facets)
              = category_removal_links(@search_params)
            - if @result.facets
              .filter-header= t('.author')
              = facet_addition_links(@search_params, @result.facets, :author)
              .filter-header= t('.journal')
              = facet_addition_links(@search_params, @result.facets, :journal)
              .filter-header= t('.date')
              = facet_addition_links(@search_params, @result.facets, :date)
            - if Category.count.positive?
              .filter-header= t('.categories')
              = category_addition_tree(@search_params)
        = link_to t('.advanced_search'), search_advanced_path, class: 'btn btn-outline-primary w-100'
  .col-12.col-lg-9.order-lg-first
    #scroller
      = render template: 'search/load', layout: false
.text-center.d-none#back-to-top
  = link_to t('.back_to_top'), '#', class: 'btn btn-info btn-sm'
