- active_count = current_user.tasks.active.count
- if active_count.positive?
  .alert.alert-warning{role: "alert"}= t('.tasks', count: active_count)
%table.table.button-table.table-striped
  %thead
    %tr
      %th.label-cell= t('.name_column')
      %th.button-cell
  %tbody
    - if @datasets.blank?
      %tr
        %td.label-cell= t('.no_datasets')
        %td.button-cell
    - else
      - @datasets.each do |name, dataset|
        %tr
          %td.label-cell
            = name
            %span.badge.bg-secondary= dataset.document_count
          %td.button-cell
            = link_to t('.manage_button'), dataset, class: 'btn btn-sm btn-secondary'
            = link_to t('.delete_button'), dataset, method: :delete, data: { confirm: t('.delete_confirm') }, class: 'btn btn-sm btn-danger'
