%h2= t('jobs.cooccurrence.info_header')
%h4= t('jobs.cooccurrence.info_subheader')
= t_md('jobs.cooccurrence.info_description_markdown')
%blockquote= t_md('jobs.cooccurrence.info_questions_markdown')
