%h2= t('jobs.proper_names.info_header')
%h4= t('jobs.proper_names.info_subheader')
= t_md('jobs.proper_names.info_description_markdown')
%blockquote= t_md('jobs.proper_names.info_questions_markdown')
