= sciveyor_form_with model: library, url: url, html: { novalidate: true, class: 'needs-validation' } do |form|
  .modal-body
    = form.text_field :name, input_options: { required: true, autofocus: true }
    = form.text_field :url, input_options: { required: true }
  .modal-footer
    = link_to t('common.cancel'), '#', class: 'btn btn-secondary', data: { bs_dismiss: 'modal' }
    = form.submit
