.modal-dialog{role: "document"}
  .modal-content
    .modal-header
      %h4.modal-title= t('.header')
      %h6.text-muted= t('.subheader')
      = close_icon('bs-dismiss': 'modal')
    .modal-body
      - if @libraries.empty?
        %p= t('.no_libraries')
      - else
        - @libraries.each do |library|
          = form_with url: libraries_path, method: :post do |form|
            = form.hidden_field 'library[name]', value: library[:name]
            = form.hidden_field 'library[url]', value: library[:url]
            = form.submit library[:name], class: 'button small secondary'
    .modal-footer
      %button.btn.btn-secondary{data: { bs_dismiss: "modal" }}
        = t('common.cancel')
