- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to t('breadcrumbs.root'), root_path
  %li.breadcrumb-item.active= t('breadcrumbs.workflow_fetch')
.row
  .col-12
    %h1= t('.header')
    %h4.text-muted= t('.subheader')
.row
  .col-12#workflow-task-list{
    data: { sv_fetch: "auto", sv_fetch_url: workflow_fetch_load_path }
  }
    = render template: 'workflow/fetch_load', layout: false
