- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to t('breadcrumbs.root'), root_path
  %li.breadcrumb-item
    = link_to t('breadcrumbs.workflow_start'), workflow_start_path
  %li.breadcrumb-item.active= t('breadcrumbs.workflow_options')
.row.mb-3
  .col-12
    %h1= t('.header')
    %h4.text-muted= t('.subheader')
.row
  .col-12.col-lg-6
    = render partial: "jobs/#{@klass.name.demodulize.underscore}/params"
