- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to t('breadcrumbs.root'), root_path
  %li.breadcrumb-item.active= t('breadcrumbs.workflow_start')
.row
  .col-12
    %h1= t('.header')
    %h4.text-muted= t('.subheader')
- Task.job_list.each do |klass|
  - next unless klass.available?
  .row.questions
    .col-12
      = link_to simple_format(klass.t('.question'), {}, wrapper_tag: 'span'), workflow_info_path(klass.name.demodulize.to_s), class: 'btn btn-secondary w-100'
