- content_for :js_modules do
  = javascript_import_module_tag "jobs/all_toggle"
  = javascript_import_module_tag "jobs/word_frequency/params"
= sciveyor_form_with scope: :job_params, url: workflow_run_path(class: 'WordFrequency') do |form|
  .card.card-body.mb-3
    %h5.card-title= t('jobs.word_frequency.options_label')
    = form.select :ngram_method, options_for_select([[t('compute_word_frequencies.single_words'), :single], [t('compute_word_frequencies.n_grams'), :ngrams]]), select_options: { include_blank: false }, label: t('compute_word_frequencies.ngram_method')
    .sub-form.d-none#ngram-controls
      = form.number_field :ngrams, input_options: { value: '2', min: 2, max: 20, disabled: true }, label: t('compute_word_frequencies.ngram_size')
      #num-ngrams-controls
        = form.number_field :num_words, input_options: { value: '100', disabled: true }, label: t('compute_word_frequencies.num_ngrams')
      = form.check_group do
        = form.check_box :all, input_options: { disabled: true }, label: t('compute_word_frequencies.all_ngrams')
      = form.text_field :inclusion_list, input_options: { disabled: true }, label: t('compute_word_frequencies.ngram_inclusion_list')
    .sub-form
      #single-controls
        = form.select :word_method, options_for_select([[t('compute_word_frequencies.most_frequent'), :count], [t('compute_word_frequencies.all'), :all], [t('compute_word_frequencies.list'), :list]]), select_options: { include_blank: false }, label: t('compute_word_frequencies.word_method')
      .sub-form#num-words-controls
        = form.number_field :num_words, input_options: { value: '100' }, label: t('compute_word_frequencies.num_words')
      .sub-form.d-none#inclusion-list-controls
        = form.text_field :inclusion_list, input_options: { disabled: true }, label: t('compute_word_frequencies.inclusion_list')
    #exclusion-controls
      = form.select :exclude_method, options_for_select([[t('compute_word_frequencies.none'), :none], [t('compute_word_frequencies.stop'), :common], [t('compute_word_frequencies.list'), :list]]), select_options: { include_blank: false }, label: t('compute_word_frequencies.exclude_method')
    .sub-form.d-none#exclude-common-controls
      = form.collection_select :stop_list, Sciveyor::Analysis::StopList.available.sort, :to_s, ->(s) { I18n.translate_locale(s) }, select_options: { include_blank: false, selected: 'en' }, input_options: { disabled: true }, label: t('compute_word_frequencies.stop_language')
    .sub-form.d-none#exclude-list-controls
      = form.text_field :exclusion_list, input_options: { disabled: true }, label: t('compute_word_frequencies.exclusion_list')
    .sub-form.d-none#exclude-list-ngram-controls
      = form.text_field :exclusion_list, input_options: { disabled: true }, label: t('compute_word_frequencies.ngram_exclusion_list')
    = form.select :stemming, options_for_select([[t('common.no'), :no], [t('common.stemming.stem'), :stem], [t('common.stemming.lemma'), :lemma]]), select_options: { include_blank: false }, label: t('common.stemming.label')
    = form.select :block_method, options_for_select([[t('compute_word_frequencies.num_words_split'), :count], [t('compute_word_frequencies.num_blocks_split'), :blocks]]), select_options: { include_blank: false }, label: t('compute_word_frequencies.block_method')
    .sub-form#count-controls
      = form.number_field :block_size, input_options: { value: '250' }, label: t('compute_word_frequencies.block_size')
      = form.select :last_block, options_for_select([[t('compute_word_frequencies.big_last'), :big_last], [t('compute_word_frequencies.small_last'), :small_last], [t('compute_word_frequencies.truncate_last'), :truncate_last], [t('compute_word_frequencies.truncate_all'), :truncate_all]]), select_options: { include_blank: false }, label: t('compute_word_frequencies.last_block')
    .sub-form.d-none#blocks-controls
      = form.number_field :num_blocks, input_options: { value: '10', disabled: true }, label: t('compute_word_frequencies.num_blocks_label')
    = form.check_group do
      = form.check_box :split_across, input_options: { checked: true }, label: t('compute_word_frequencies.split_across')
  .float-end
    = form.cancel workflow_start_path
    = form.submit
