{
  "short_name": "Sciveyor",
  "name": "Sciveyor",
  "icons": [
    {
      "src": "<%= image_path('android-chrome-192x192.png') %>",
      "type": "image/png",
      "sizes": "192x192"
    },
    {
      "src": "<%= image_path('android-chrome-512x512.png') %>",
      "type": "image/png",
      "sizes": "512x512"
    }
  ],
  "background_color": "white",
  "display": "standalone",
  "theme_color": "#2c3a3a"
}
