- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to t('breadcrumbs.root'), root_path
  %li.breadcrumb-item.active= t('breadcrumbs.static_user_data')
.row
  .col-12
    %h1= t('.header')
    %p= t('.header_description')
    %h3= t('.your_data_header')
    = t_md('.your_data_markdown', edit_url: edit_user_registration_path)
    %h3= t('.remove_account_header')
    = t_md('.remove_account_markdown', edit_url: edit_user_registration_path)
    %h3= t('.cookies_header')
    = t_md('.cookies_markdown', cookies_url: static_cookies_path)
