- data = JSON.parse(task.json)
- content_for :javascripts do
  = javascript_include_tag 'https://www.gstatic.com/charts/loader.js', nonce: true
- content_for :js_modules do
  = javascript_import_module_tag "jobs/article_dates/results"
.row
  .col-12.col-md-8
    %h1 #{Dataset.model_name.human}: #{presenter.dataset_list}
    - if data['percent']
      %h4.text-muted
        = t('jobs.article_dates.fraction_subheader', name: presenter.dataset_list, normalization_set: data['normalization_set'])
    - else
      %h4.text-muted= t('jobs.article_dates.number_subheader')
  .col-12.col-md-4.job-header-button
    = link_to t('common.download_csv'), task_download_url(task: task, content_type: 'text/csv'), class: 'btn btn-secondary'
.row
  .col-12
    %hr/
    = javascript_tag("window.json_data = '#{j task.json}';", nonce: true)
    .article_dates_graph
    %hr/
    .article_dates_table
