// Utility class to force-break long text in an element
.break-all {
  word-break: break-all;
}

// Styling for our various "manage" tables with a right-hand button
// column
table.button-table {
  width: 100%;
  margin-top: 1em;

  td.button-cell,
  th.button-cell {
    width: 1px;
    white-space: nowrap;
  }
  td.multi-row .btn,
  td.multi-row button {
    margin-bottom: 4px;
  }
}

// Style the logo image
.navbar-brand img {
  width: auto;
  height: 2rem;

  margin-right: 0.5rem;
}

// Force the sign-in form to be wider
#sign-in-form {
  width: 20em;
}

.footer {
  padding: 3em 0;

  p {
    margin: 0 0 0 0.5em;
  }
}

// Styling for our expandable "sub-fields" in forms that depend on other
// state
.sub-form {
  @extend .ps-3;
  border-left: 4px solid $secondary;
  margin-bottom: 1rem;
}

.sub-form.form-group {
  padding-bottom: 1rem;
}
