#markdown-landing {
  img {
    display: block;
    width: 20rem;
    margin: 5rem auto;
  }

  h4 {
    color: $gray-600;

    margin-top: 1.5em;
    margin-bottom: 2.5em;
    text-align: center;

    width: 70%;
    margin-left: 15%;
  }

  blockquote {
    width: 75%;
    margin-left: 12%;
    margin-bottom: 2em;
  }

  h5 {
    font-size: 130%;
  }
}

#landing-login {
  margin-top: 3em;
  margin-bottom: 3em;
}

.row.dashboard,
.row.questions {
  padding-top: 2em;
  &:nth-of-type(2) {
    padding-top: 4em;
  }

  p {
    margin-top: 1em;
  }
}

#markdown-info {
  h4 {
    color: $gray-600;

    padding-bottom: 1em;
  }

  blockquote {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 2em;

    font-size: inherit;

    margin-top: 2em;
    margin-bottom: 3em;
  }
}

.row.activate-pad {
  margin-top: 3em;
}

#screenshot-carousel {
  .carousel-caption {
    position: absolute;
    top: 0.5rem;
    padding-top: 0;
  }
}
