= sciveyor_form_with scope: :job_params, url: workflow_run_path(class: 'Network'), html: { novalidate: true, class: 'needs-validation' } do |form|
  .card.card-body.mb-3
    %h5.card-title= t('jobs.network.options_label')
    = form.text_field :focal_word, input_options: { required: true }, label: t('jobs.network.focal_word'), client_side_error: 'jobs.network.focal_word_blank'
  .float-end
    = form.cancel workflow_start_path
    = form.submit
