%link{
  rel: "apple-touch-icon",
  sizes: "180x180",
  href: image_path('apple-touch-icon.png')
}/
%link{
  rel: "icon",
  type: "image/png",
  sizes: "32x32",
  href: image_path('favicon-32x32.png')
}/
%link{
  rel: "icon",
  type: "image/png",
  sizes: "16x16",
  href: image_path('favicon-16x16.png')
}/
%link{rel: "manifest", href: "/manifest.json"}/
%link{
  rel: "mask-icon",
  href: image_path('safari-pinned-tab.svg'),
  color: "#5bbad5"
}/
%meta{name: "msapplication-TileColor", content: "#da532c"}/
%meta{name: "theme-color", content: "#2c3a3a"}/
