= javascript_tag(nonce: true) do
  :plain
    window.I18n = {
      common: {
        confirm_title: "#{I18n.t('common.confirm_title')}",
        ok: "#{I18n.t('common.ok')}",
        cancel: "#{I18n.t('common.cancel')}"
      }
    }
